.mx-10 {
    margin-left: 15rem !important;
    margin-right: 15rem !important;
}

.ms-20 {
    margin-left: 20rem !important;
}

.navbar {
    height: 45px !important;
}

.carosello {
    height: 52vh !important;
}

