.mx-10 {
    margin-left: 15rem !important;
    margin-right: 15rem !important;
}

.ms-20 {
    margin-left: 20rem !important;
}

.navbar {
    height: 45px !important;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 65%;
    position: relative;
}

.left-column img {
    width: 95%;
    position: absolute;
    left: 0;
    top: 0;
}

.right-column {
    width: 35%;
}